# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dev Utils & Temp Internal Tools
temp_credentials.json
check_lulu.ts
simple_check.ts
read_env_json.mjs
read_env_temp.mjs
output.txt
output_check.txt
output_prop_glasgow.txt
output_sb.txt
metadata.json
PRODUCTION_LAUNCH_TODO.txt
